/*HTML*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  margin-top: 30px;
  margin-bottom: 50px; }
  header img.logo {
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  header h1 {
    font-family: 'Merriweather', serif;
    font-size: 55px;
    text-align: center;
    font-weight: 700; }
  header h2 {
    font-size: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px; }
  header .buttonClases {
    margin-left: 1.5%;
    font-weight: 600;
    font-family: "ubuntu";
    font-size: 20px;
    border-radius: 100px;
    padding: 5px 25px 5px 25px;
    background-color: #ff5c5c;
    border-width: 3px;
    border-color: #f2a22c;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }
    header .buttonClases a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: none;
      color: white; }

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00E676;
  font-size: 30px;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  border-radius: 50%;
  z-index: 10000;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }

.whatsapp-button:hover {
  animation: pulse 1s;
  outline: none;
  text-decoration: none; }

.instagram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  height: 60px;
  width: 60px;
  float: right;
  left: 84%;
  position: fixed;
  bottom: 20px;
  border-radius: 50%;
  text-decoration: none;
  color: #fff; }

.instagram-button:hover {
  animation: pulse 1s;
  outline: none;
  text-decoration: none; }

.mainPrincipal .buttonTipo {
  font-family: "ubuntu";
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 50%;
  margin-right: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  padding: 5px 35px 5px 35px;
  background-color: #ff5c5c;
  border-width: 3px;
  border-color: #f2a22c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }
  .mainPrincipal .buttonTipo a {
    text-decoration: none;
    color: white; }

.desayuno .tituloSeccion {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px; }

.desayuno hr {
  height: 12px;
  width: 50%;
  background-color: #ff5c5c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 100px; }

.desayuno .productoDesayuno {
  display: flex;
  flex-direction: column;
  width: 40%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin-bottom: 80px;
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #f2a22c;
  background-color: #ff5c5c;
  color: white; }
  .desayuno .productoDesayuno .imagenProducto {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
    width: 80%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #f2a22c; }
  .desayuno .productoDesayuno .nombreProducto {
    font-weight: 600;
    float: left;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 10%;
    padding-bottom: 5px; }
  .desayuno .productoDesayuno .precioProducto {
    font-weight: 600;
    font-size: 24px;
    margin-left: 10%;
    float: right;
    padding-bottom: 5px; }
  .desayuno .productoDesayuno .descripcionProducto {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px; }
  .desayuno .productoDesayuno .buttonOrder {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    font-family: "ubuntu";
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 30%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    padding: 5px 65px 5px 65px;
    background-color: white;
    border-width: 3px;
    border-color: #f2a22c;
    color: #ff5c5c;
    font-weight: 600; }
    .desayuno .productoDesayuno .buttonOrder a {
      text-decoration: none;
      color: #ff5c5c; }
  .desayuno .productoDesayuno .buttonOrder:hover {
    background-color: white;
    color: #ff5c5c; }

.almuerzo .tituloSeccion {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px; }

.almuerzo hr {
  height: 10px;
  width: 50%;
  background-color: #ff5c5c;
  color: #ff5c5c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.almuerzo .productoAlmuerzo {
  display: flex;
  flex-direction: column;
  width: 40%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin-bottom: 80px;
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #f2a22c;
  background-color: #ff5c5c;
  color: white; }
  .almuerzo .productoAlmuerzo .imagenProducto {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
    width: 80%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #f2a22c; }
  .almuerzo .productoAlmuerzo .nombreProducto {
    font-weight: 600;
    float: left;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 10%;
    padding-bottom: 5px; }
  .almuerzo .productoAlmuerzo .precioProducto {
    font-weight: 600;
    font-size: 24px;
    margin-left: 10%;
    float: right;
    padding-bottom: 5px; }
  .almuerzo .productoAlmuerzo .descripcionProducto {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px; }
  .almuerzo .productoAlmuerzo .buttonOrder {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    font-family: "ubuntu";
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 30%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    padding: 5px 65px 5px 65px;
    background-color: white;
    border-width: 3px;
    border-color: #f2a22c;
    color: #ff5c5c;
    font-weight: 600; }
    .almuerzo .productoAlmuerzo .buttonOrder a {
      text-decoration: none;
      color: #ff5c5c; }
  .almuerzo .productoAlmuerzo .buttonOrder:hover {
    background-color: white;
    color: #ff5c5c; }

.merienda .tituloSeccion {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px; }

.merienda hr {
  height: 10px;
  width: 50%;
  background-color: #ff5c5c;
  color: #ff5c5c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.merienda .productoMerienda {
  display: flex;
  flex-direction: column;
  width: 40%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin-bottom: 80px;
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #f2a22c;
  background-color: #ff5c5c;
  color: white; }
  .merienda .productoMerienda .imagenProducto {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
    width: 80%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #f2a22c; }
  .merienda .productoMerienda .nombreProducto {
    font-weight: 600;
    float: left;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 10%;
    padding-bottom: 5px; }
  .merienda .productoMerienda .precioProducto {
    font-weight: 600;
    font-size: 24px;
    margin-left: 10%;
    float: right;
    padding-bottom: 5px; }
  .merienda .productoMerienda .descripcionProducto {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px; }
  .merienda .productoMerienda .buttonOrder {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    font-family: "ubuntu";
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 30%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    padding: 5px 65px 5px 65px;
    background-color: white;
    border-width: 3px;
    border-color: #f2a22c;
    color: #ff5c5c;
    font-weight: 600; }
    .merienda .productoMerienda .buttonOrder a {
      text-decoration: none;
      color: #ff5c5c; }
  .merienda .productoMerienda .buttonOrder:hover {
    background-color: white;
    color: #ff5c5c; }

.cena .tituloSeccion {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px; }

.cena hr {
  height: 10px;
  width: 50%;
  background-color: #ff5c5c;
  color: #ff5c5c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.cena .productoCena {
  display: flex;
  flex-direction: column;
  width: 40%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin-bottom: 80px;
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #f2a22c;
  background-color: #ff5c5c;
  color: white; }
  .cena .productoCena .imagenProducto {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
    width: 80%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #f2a22c; }
  .cena .productoCena .nombreProducto {
    font-weight: 600;
    float: left;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 10%;
    padding-bottom: 5px; }
  .cena .productoCena .precioProducto {
    font-weight: 600;
    font-size: 24px;
    margin-left: 10%;
    float: right;
    padding-bottom: 5px; }
  .cena .productoCena .descripcionProducto {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px; }
  .cena .productoCena .buttonOrder {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    font-family: "ubuntu";
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 30%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    padding: 5px 65px 5px 65px;
    background-color: white;
    border-width: 3px;
    border-color: #f2a22c;
    color: #ff5c5c;
    font-weight: 600; }
    .cena .productoCena .buttonOrder a {
      text-decoration: none;
      color: #ff5c5c; }
  .cena .productoCena .buttonOrder:hover {
    background-color: white;
    color: #ff5c5c; }
