/*HTML*/
html{
  margin: 0;
  padding: 0;	
  box-sizing: border-box;
}

header{
  margin-top: 30px;
    img.logo{
      width: 260px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      font-family: 'Merriweather', serif;
      font-size: 55px;
      text-align: center;
      font-weight: 800;
    }
    h2{
      font-size: 25px;
      font-family: 'Merriweather', serif;
      font-weight: 700;
      text-align: center;
      margin-bottom: 35px;
    }

    div{
      display: flex;
      justify-content: space-around;
      .buttonClases{
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "ubuntu";
        font-size: 18px;
        border-radius: 100px;
        padding: 5px 25px 5px 25px;
        background-color: #ff5c5c;
        border-width: 3px;
        border-color: #f2a22c;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        text-decoration: none;
        a{
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-decoration: none;
          color: white;
        }
      }
      .buttonClases:hover{
        background-color: white;
        color: #ff5c5c;
        border-color: #f2a22c;
      }
    }

    margin-bottom: 50px;
}

.alertCarrito{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  .alertCarritoTitulo{
    font-family: "ubuntu";
  }
  .alertCarritoHtml{
    font-family: "ubuntu";
  }
  .alertCarritoButton{
    background-color: #ff5c5c;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.alertAgregarCarrito{
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  .alertAgregarCarritoTitle{
    font-family: "ubuntu";
  }
  .alertAgregarCarritoTexto{
    font-family: "ubuntu";
  }
  .alertAgregarCarritoButton{
    border-radius: 30px;
    background-color: #ff5c5c;
    font-weight: 500;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.alertAgregarQuitar{
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  .alertQuitarCarritoTitle{
    font-family: "ubuntu";
  }
  .alertQuitarCarritoTexto{
    font-family: "ubuntu";
  }
  .alertQuitarCarritoButton{
    border-radius: 30px;
    background-color: #ff5c5c;
    font-weight: 500;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
  }
}