//Página Principal

.mainPrincipal {
  .buttonTipo{
    @include botonNavegador;
  }
}

//Desayuno - Comida/Bebida/Postre
.desayuno {
  .productoDesayuno{
    display: flex;
    flex-direction: column;
    width: 40%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 80px;
    padding-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #f2a22c;
    background-color: #ff5c5c;
    color: white;

    .imagenProducto{
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      border-radius: 20px;
      width: 250px;
      height: 180px;
      margin-left: auto;
      margin-right: auto;
      border-style: solid;
      border-width: 3px;
      border-color: #f2a22c;
    }

    .nombreProducto{
      font-weight: 600;
      float: left;
      font-size: 28px;
      margin-top: 25px;
      margin-left: 10%;
      padding-bottom: 5px;
    }

    .precioProducto{
      font-weight: 600;
      font-size: 24px;
      margin-left: 10%;
      float: right;
      padding-bottom: 5px;
    }

    .descripcionProducto{
      font-weight: 300;
      font-size: 18px;
      text-align: left;
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 25px;
    }

    .buttonOrder{
      font-weight: 600;
      text-align: center;
      width: 50%;
      margin-top: 10px;
      @include botonNavegador;
      transition: 1s;
      color: #ff5c5c;
      background-color: white;
      margin-bottom: 0px;
    }

    .buttonOrder:hover{
      background-color: white;
      color: #ff5c5c;
    }
  }
}

//Almuerzo - Comida/Bebida/Postre

//Merienda - Comida/Bebida/Postre

//Cena - Comida/Bebida/Postre